<div class="demo">
  <h1>Hello {{this.userName}} from Bridgelabz</h1>
  <img src="{{this.imgUrl}}" (click)="onClick($event)" alt="This is a bridgelabz logo">
  <!-- <a href="https://www.bridgelabz.com/" target="_blank"><img src="{{this.imgUrl}}" alt="This is Bridgelabz Logo"></a> -->
  <!-- <img src="{{this.imgUrl}}" alt="This is Bridgelabz Logo">
   -->
</div>

<div class="demo">
  <input (input) = "onInput($event)" [(ngModel)]="userName"/>
  <span class="error-output">{{this.nameError}}</span>
</div>

<router-outlet></router-outlet>